# Python
__pycache__/
*.egg
*.egg-info/
dist/
build/


# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS Thumbnails
._*

# macOS Folder settings
.Spotlight-V100
.Trashes

# macOS Files that should never be committed
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# macOS Resource fork
._*

# macOS Finder metadata
.Spotlight-V100
.Trashes